<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'stylesheet/bootstrap.css' %}"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <ul class="navbar navbar-nav mr-auto">
          <li class="nav-item"><a class="navbar-brand" href="{% url 'index' %}">DARKSS</a></li> <!-- 'basic_app' should match with app_name in basic_app.urls -->
          <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'basic_app:other' %}">OTHER</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'basic_app:relative' %}">RELATIVE</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block body_block %}
      {# Anything outside of this will be inherited if you extend #}

      {% endblock %}
    </div>

  </body>
</html>
